# Documentation for CODEOWNERS:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for all files in the repository, unless overridden by a specific rule below.
* @jaekwon

# Specific file/dir ownership
/.github/ @moul
/README.md @jaekwon
/CONSTITUTION.md @jaekwon
/DECENTRALISTS.md @jaekwon
/GOVERNANCE.md @giunatale @jaekwon
/FORKING.md @moul @jaekwon

# XXX: Pending Ownership Assignments
# The CODEOWNERS file will be invalid if it lists users without write permissions to the repository.
# Once the necessary permissions are granted and protected branches are set up, these lines can be uncommented.
# /COMPENDIUM.md @salmad3
